* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   width: 100%;
}

.main {
   height: 100%;
   width: 100%;
}

nav {
   display: flex;
   justify-content: space-between;
   border: 2px solid black;
   width: 100%;
   height: 90px;
   overflow: hidden;
   align-items: center;
   background-color: white;
   box-shadow: 2px 5px 19px 1px cyan;
}

.logo img {
   height: 109px;
   width: 130px;
   object-fit: cover;
   padding-bottom: 1px;
   margin-left: 20px;
   border-radius: 33px;
   padding: 6px;
}

.nav-items a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: larger;
   padding: 19px 30px;
   font-weight: 700;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: crimson;
   border-right: 1px solid red;
   transition: all 160ms ease-in-out;
}

.nav-items a:hover {
   background-color: #88ca1546;
   color: black;
   padding: 10px 20px;
   text-decoration: underline;
   border-radius: 20px;
   border: 1px solid black;
   border-right: 3px solid black;
   border-left: 3px solid black;
   box-shadow: 4px 0px 10px 0px black;
   transform: scale(1.1);
   letter-spacing: 2px;
}

.nav-button {
   height: 90px;
   width: 200px;
   align-content: center;
   overflow: hidden;
}

.nav-button a {
   padding: 14px;
   color: black;
   text-decoration: none;
   font-size: larger;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   margin-left: 3px;
   text-align: center;
   transition: all 160ms ease-in;
}

.nav-button a:hover {
   color: aliceblue;
   background-color: rgba(135, 222, 151, 0.612);
   box-shadow: 4px 0px 10px 0px black;
   text-decoration: underline;
   border-radius: 20px;
   border-left: 2px solid crimson;
   border-right: 2px solid crimson;
   letter-spacing: 2px;
}

.menu {
   display: none;
}

.side-bar,
.side-bar a {
   display: none;
}

.content {
   display: flex;
   flex-direction: row;
   width: 100%;
   min-height: calc(100vh - 90px);
}

.right {
   width: 50%;
   height: 100%;
}

.left {
   width: 50%;
   height: 100%;
}

.information {
   width: 100%;
   height: 100%;
   display: inline-block;
}

.information h1 {
   padding: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 44px;
   font-weight: bolder;
   text-decoration: underline;
   letter-spacing: 3px;
}

.information h2 {
   font-size: 37px;
   padding-left: 14px;
   width: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   letter-spacing: 3px;
   border-right: 5px solid;
   white-space: nowrap;
   overflow: hidden;
   animation:
      typing 2s steps(28) 4,
      cursor .4s step-end infinite alternate;
}

.type {
   width: fit-content;
}

@keyframes cursor {
   50% {
      border-color: transparent;
   }

   ;
}

@keyframes typing {
   from {
      width: 0%;
      opacity: 0;
   }

   to {
      width: 100%;
      opacity: 1;
   }
}

.information p {
   margin-top: 10px;
   font-size: x-large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding: 9px;
   letter-spacing: 2px;
   line-height: 39px;
   text-transform: capitalize;
}

.information span {
   font-weight: lighter;
}

.photo {
   width: 100%;
   height: 100%;
}

.photo img {
   width: 400px;
   height: 600px;
   margin-top: 10px;
   margin-left: 43%;
   border-radius: 24px;
   padding: 2px;
   object-fit: cover;
   border: 1px solid black;
   background-color: black;
   transition: all 160ms linear;
}

.photo img:hover {
   border: 1px solid crimson;
   box-shadow: 4px 10px 50px 1px crimson;
   background-color: crimson;
   scale: 1.100001;
}

.information .span {
   display: none;
}

footer {
   background-color: cyan;
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 300px;
}

.Top {
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.first {
   background-color: #deb887af;
   width: 30%;
   height: 125px;
   text-align: center;
   border-radius: 10px;
   padding: 10px;
   border: 1px solid #6494ed66;
   box-shadow: 2px 5px 20px 5px cyan;
   transition: all 150ms linear;
}

.first:hover {
   background-color: #fff;
   scale: 1.05;
}

.first a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: xx-large;
   color: black;
   font-family: Georgia, 'Times New Roman', Times, serif;
   letter-spacing: 1px;
   padding: 10px 0px;
}

.first p {
   font-size: 22px;
   text-transform: capitalize;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   padding: 5px 0px;
   line-height: 33px;
}

.second {
   background-color: #00ffff98;
   width: 30%;
   height: 125px;
   text-align: center;
   border-radius: 10px;
   padding: 10px;
   border: 1px solid black;
   box-shadow: 1px 5px 15px 0px rebeccapurple;
   transition: all 150ms linear;
}

.second:hover {
   background-color: #fff;
   scale: 1.05;
}

.second a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: xx-large;
   color: black;
   font-family: 'Times New Roman', Times, serif;
   padding: 5px 0px;
   letter-spacing: 1px;
}

.second p {
   font-size: 22px;
   text-transform: capitalize;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   padding: 5px 0px;
   line-height: 33px;
}

.third {
   background-color: #e9967a7e;
   width: 30%;
   height: 120px;
   text-align: center;
   border-radius: 10px;
   padding: 10px;
   border: 1px solid red;
   box-shadow: 5px 0px 15px 1px black;
   transition: all 150ms linear;
}

.third:hover {
   background-color: #fff;
   scale: 1.05;
}

.third a {
   text-decoration: none;
   text-transform: capitalize;
   font-size: xx-large;
   color: black;
   font-family: 'Times New Roman', Times, serif;
   letter-spacing: 1px;
}

.third p {
   font-size: 22px;
   text-transform: capitalize;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight: 400;
   padding: 5px 0px;
   line-height: 33px;
}

.Bottom {
   display: flex;
   flex-direction: row;
   width: 100%;
   height: 50%;
   /* background-color: #fff; */
   justify-content: space-evenly;
   align-items: center
}

.Bottom h1 {
   text-transform: capitalize;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 45px;
   letter-spacing: 2px;
}

.Bottom img {
   width: 9%;
   border-radius: 10px;
}

@media screen and (min-width:320px) and (max-width:768px) {
   .content {
      display: flex;
      flex-direction: row;
      width: 100%;
      min-height: calc(100vh - 90px);
   }

   .right {
      width: 100%;
      height: 60%;
   }

   .left {
      width: 100%;
      height: 40%;
   }

   footer {
      height: 1050px;
      margin-top: 20px;
   }

   .photo {
      width: 100%;
      height: 100%;
   }

   .photo img {
      width: 400px;
      height: fit-content;
      margin-top: 10px;
      margin-left: 43%;
      border-radius: 24px;
      padding: 2px;
      object-fit: cover;
      border: 1px solid black;
      background-color: black;
      transition: all 160ms linear;
   }

   .Top {
      width: 100%;
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }

   .Bottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 35%;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;
   }

   .Bottom img {
      width: 70%;
   }

   .first {
      width: 100%;
      height: 200px;
   }

   .second {
      width: 100%;
      height: 200px;
   }

   .third {
      width: 100%;
      height: 200px;
   }

   .Bottom h1 {
      text-decoration: none;
   }
}

@media screen and (max-width:768px) {
   .nav-items {
      display: none;
   }

   .nav-button {
      display: none;
   }

   .logo img {
      margin-left: 2px
   }

   .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: calc(100% - 90px);
   }

   .right {
      width: 100%;
      height: 50%;
   }

   .left {
      width: 100%;
      height: 50%;
   }

   .information {
      width: 100%;
      height: 100%;
      display: block;
   }

   .information h1 {
      padding: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 28px;
      font-weight: bolder;
      text-decoration: underline;
      letter-spacing: 3px;
   }

   .information h2 {
      font-size: 23px;
      padding-left: 14px;
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: 3px;
      border-right: 5px solid;
      white-space: nowrap;
      overflow: hidden;
      animation:
         typing 2s steps(18) 4,
         cursor .4s step-end infinite alternate;
   }

   .information p {
      margin-top: 4px;
      font-size: large;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-align: center;
      letter-spacing: 3px;
      line-height: 32px;
      text-transform: capitalize;
   }

   .photo {
      width: 100%;
      height: 100%;
   }

   .photo img {
      width: 200px;
      height: 300px;
      margin-left: 10%;
      border-radius: 24px;
      padding: 2px;
      object-fit: cover;
   }

   .information .span {
      display: block;
   }

   .menu {
      display: block;
      width: fit-content;
      height: fit-content;
   }

   .menu i {
      font-size: 28px;
      padding: 0px 10px;
   }

   .side-bar {
      height: 50%;
      width: 100%;
      background-color: #ff7f5047;
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
   }

   .side-bar a {
      text-decoration: none;
      display: block;
      text-transform: capitalize;
      font-size: x-large;
      padding: 9px 10px;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: crimson;
      border-bottom: 2px solid red;
      margin: 15px 0px;
      transition: all 40ms ease-out;
   }

   .side-bar a:active {
      background-color: white;
      color: black;
      padding: 4px 20px;
      text-decoration: underline;
      border-radius: 10px;
      border: 1px solid black;
      border-top: 5px solid black;
      border-bottom: 2px solid black;
      box-shadow: 4px 0px 10px 0px black;
      transform: scale(1.1);
      letter-spacing: 3px;
   }

   .side-bar-button {
      width: fit-content;
      height: 10%;
   }

   .side-bar-button a {
      text-align: center;
      border-bottom: 0px;
      width: 100%;
      height: fit-content;
      background-color: white;
      border-radius: 10px;
   }

   .side-bar-button a:active {
      transform: scale(1.1);
      letter-spacing: 2px;
   }
}

@media screen and (min-width:888px) and (max-width:1025px) {
   .photo img {
      width: 350px;
      height: 500px;
      margin-left: 20%;
      border-radius: 24px;
      padding: 2px;
      object-fit: cover;
   }
}

@media screen and (min-width:768px) and (max-width:1024px) {
   footer {
      height: 650px;

   }

   .Top {
      height: 50%;
   }

   .first {
      height: 250px;
   }

   .second {
      height: 250px;
   }

   .third {
      height: 250px;
   }

   .Bottom {
      height: 50%;
      text-align: center;
   }

   .Bottom>h1 {
      font-size: 40px;
      text-decoration: none;
   }

   .Bottom img {
      width: 13%;
      margin-left: 5%;
   }
}